@import "./variables";
@import "./mixin";
@import "./extend";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Condensed&display=swap');

@media screen and (max-width:320px) {
    .footer-coppy{
        .p{
            padding-right: 10px !important;
            font-size: 13px !important;
        }
    }
}
@media screen and (max-width:515px) {
    .footer-detail{
        .flex-detail{
            width: 540px !important;
        }
        .flex-detail-email{
            width: 540px !important;
            padding-left: 30px;
        }
    }
    .footer-coppy{
        width: 300px !important;
        margin: 40px auto !important;   
        .p{
            width: 300px !important;
            text-align: start !important;
        }
        .icon{
            width: 300px !important;
            text-align: start !important;
            padding: 0 !important;
        }
    }
}
@media screen and (min-width:514px) and (max-width:766px) {
    .footer-detail{
        .flex-detail{
            width: 540px !important;
        }
        .flex-detail-email{
            width: 540px !important;
            padding-left: 30px;
        }
    }
    .footer-coppy{
        width: 540px !important;
        margin: 40px auto !important;
        .p{
            width: 90% !important;
            text-align: start !important;
        }
        .icon{
            width: 90% !important;
            text-align: start !important;
            padding: 0 !important;
        }
    }
}
@media screen and (min-width:767px) and (max-width:991px) {
    .footer-detail{
        .flex-detail{
            width: 360px !important;
        }
        .flex-detail-email{
            width: 720px !important;
            padding-left: 30px;
        }
    }
    .footer-coppy{
        width: 720px !important;
        margin: 0 auto !important;
        .p{
            width: 92% !important;
            text-align: start !important;
        }
        .icon{
            width: 92% !important;
            text-align: start !important;
            padding: 0 !important;
        }
    }
}
@media screen and (min-width:992px) and (max-width:1348px) {
    .footer-detail{
        .flex-detail{
            width: 160px !important;
        }
        .flex-detail-email{
            width: 320px !important;
        }
    }
}

.wrap-footer{
    padding-top: 120px;
    padding-bottom: 90px;
    background-color: #0E1424;
    color: white;
    font-family: 'Roboto', sans-serif ;
    ul{
        list-style-type: none;
    }
    a{
        color: #838080;
        text-decoration: none;
        font-family: 'Roboto', sans-serif ;
    }
    a:hover{
        color: white;
    }
    .footer-detail{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .flex-detail{
            width: 190px;
            height: 215px;
            &-title{
                font-weight: bold;
                font-size: 20px;
                margin-bottom: 10px;
            }
            a{
                font-size: 14px;
            }
            li{
                margin: 10px 0;
            }
        }
        .flex-detail-email{
            width: 380px;
            .title{
                font-weight: bold;
                font-size: 20px;
                margin-top: 10px;
                font-family: 'Roboto', sans-serif ;
            }
            .p{
                color: #838080;
                text-decoration: none;
                font-family: 'Roboto', sans-serif ;
                font-size: 14px;
            }
            .input-email{
                padding: 6.5px;
                color: black;
                background-color: #334F6C;
                border: none;
            }
        }
    }
    .footer-coppy{
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        .p{
            width: 60%;
        }
        .icon{
            width: 30%;
            text-align: center;
            font-size: 35px;
            padding-left: 80px;
            .hover-icon{
                margin: 0 2px;
                transition: all 0.5s ease;
                &:hover{
                    color: orange;
                    cursor: pointer;
                }
            }
        }
        .colorlib{
            color: orange !important;
        }
    }
}