@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Condensed&display=swap');

@media screen and (max-width:575px) {
    .section4{
        position: relative;
        top: 100px;
    }
}
.section4{
    margin-top: 130px;
    position: relative;
    &-title{
        text-align: center;
    }
    h1{
        text-transform: capitalize;
        font-size: 47px;
        font-family: 'Roboto Condensed';
        font-weight: bold;
        color: white;
        width: 100%;
        position: absolute;
        z-index: 1000;
        margin-top: 100px;
    }
    .wrap-video{
        width: 100%;
        height: 517px;
    }
    .background-video-project{
        width: 100%;
        height: 517px;
        background: rgba(7, 4, 31, 0.76);
        opacity: 0.6;
        position: absolute;
    }
    .video-play-button{
        position: absolute;
        margin-top: 200px;
        width: 100%;
        text-align: center;
        font-size: 100px;
        color: white;
        z-index: 1000;
    }
    .video-time{
        font-size: 16px;
        color: white;
        font-weight: bold;
        font-family: 'Roboto Condensed';
        width: 100%;
        position: absolute;
        text-align: center;
        top: 350px;
    }
}